<!DOCTYPE html>

<html lang="ca">

<head>
  <meta charset="UTF-8">
  <title>Document de col·laboració com a parella - Falla Sants Patrons</title>

  <style></style>

</head>

<body>
  <div class="container">

    <div class="header">
      {{#if imageBase64}}
      <img src="{{imageBase64}}" class="logo">
      {{/if}}
      <h1>DOCUMENT DE COL·LABORACIÓ COM A PARELLA<br>FALLA SANTS PATRONS</h1>
    </div>

    <div class="section">
      <h2>1. DADES DEL NOU COL·LABORADOR</h2>

      <div class="field"><label>Nom i cognoms:</label><input type="text"></div>
      <div class="field"><label>DNI:</label><input type="text"></div>
      <div class="field"><label>Data de naixement:</label><input type="text"></div>

    </div>

    <div class="section">
      <h2>2. DADES DEL MEMBRE DE QUI ES PARELLA</h2>

      <div class="field"><label>Nom i cognoms:</label><input type="text"></div>

    </div>

    <div class="section">
      <h2>3. OBJECTE</h2>
      <p>
        El present document regula les condicions d’alta i permanència com a col·laborador de la falla Sants Patrons,
        així com
        els drets i obligacions derivats de dita condició.
      </p>
    </div>

    <div class="section">
      <h2>4. CONDICIONS ECONÒMIQUES</h2>
      <p>
        El col·laborador es compromet al pagament de la quota establida per la falla.
      </p>
      <p>
        La forma de pagament pot ser en efectiu en horari d’oficina, per transferència al compte de l’associació o
        domiciliant la quota efectuat-se el càrrec a principi de cada mes.
      </p>
    </div>

    <div class="section">
      <h2>5. DURACIÓ I RENOVACIÓ</h2>
      <p>
        La condició de col·laborador com a parella de faller tindrà una duració corresponent a l’exercici faller vigent.
        La renovació serà automàtica a
        l’inici de cada exercici, excepte comunicació expresa de baixa en els terminis establerts.
      </p>
    </div>

    <div class="section">
      <h2>6. BAIXA DEL COL·LABORADOR</h2>
      <p>
        El col·laborador podrà sol·licitar la baixa oficialment de forma presencial a l’horari d’oficina, per
        comunicació
        directa via whatsapp amb l’encarregat d’altes i baixes o per correu electrònic a tresoreria@santspatrons.com.
      </p>
      <p>
        El termini per a la baixa gratuïta s’estableix des del principi d’exercici fins al 30 de juny. A partir
        d’aquesta data, per a tramitar la baixa, s’haurà d’estar al corrent de pagament amb l’associació, abonant la
        part corresponent a cada mes a partir de l’inici d’exercici (abril) fins a la data en que vol gestionar-se la
        baixa.
      </p>
    </div>

    <div class="page-break"></div>

    <div class="section">
      <h2>7. CANALS DE COMUNICACIÓ</h2>
      <p>
        La falla utilitzarà els següents canals per a informar els seus col·laboradors:
      <ul>
        <li>Reunions físiques al casal.</li>
        <li>Canal de whatsapp oficial de la falla en el que es pot donar d’alta de forma automàtica escanejant el
          següent QR.</li>
      </ul>
      </p>

      <div class="qr">
        {{#if qrBase64}}
        <img src="{{qrBase64}}">
        {{/if}}
      </div>

    </div>

    <div class="section">
      <h2>8. DRETS I OBLIGACIONS</h2>

      <p><b>Drets:</b></p>
      <ul>
        <li>Participar en els sopars ordinaris dels divendres.</li>
        <li>Asistir a les reunions dels membres sense dret a veu ni vot.</li>
        <li>Participar en totes les festes organitzades per la falla al casal.</li>
        <li>Accedir al casal els dies 17, 18 i 19 de març per a dinar i sopar exclusivament. No es tindrà accés a
          l'esmorçar ni a la barra lliure d'abans dels actes.</li>
        <li>No es podrà desfilar amb la falla en cap cas ni participar en actes com les despertades o les taules de
          recepció de les Falleres Majors encara que sí es podrà acompanyar a la falla per la vorera i amb el brussó
          oficial si així es desitja.</li>
        <li>Apareixer al cens de Junta Local Fallera com a col·laborador però mai com a membre de la comissió, el que
          implica no tenir dret a puntuar per a les diferents recompenses.</li>
        <li>Com a excepció, el col·laborador podrà participar a l'ofrena pagant el ram com qualsevol altre no faller o
          podrà també participar a la cavalcada previ pagament del preu estipulat per la directiva (a partir de 100 €).
        </li>
      </ul>

      <p><b>Obligacions:</b></p>
      <ul>
        <li>Complir amb els pagaments establerts.</li>
        <li>Respectar les normes internes i els acords de la junta directiva i mantenir un comportament adequat.</li>
        <li>Asistir única i exclusivament als actes indicats a l'apartat anterior complint les normes establertes.</li>
      </ul>

    </div>

    <div class="section">
      <h2>9. PROTECCIÓ DE DADES</h2>
      <p>
        Les dades personals seran tractades per la falla amb la finalitat de gestionar la relació amb el col·laborador.
      </p>
      <p>
        El responsable de les dades és l'Associació cultural Falla Sants Patrons de l'Alzira, amb domicili
        al carrer Felip II, 46, 46600, Alzira, València, amb CIF G96235197.
      </p>
      <p>
        El col·laborador podrà exercir els seus drets d’accés, rectificació i supressió mitjançant sol·licitud a
        tresoreria@santspatrons.com, físicament en horari d’oficina o a través del whatsapp de la persona encarregada
        d’aquesta gestió.
      </p>
    </div>

    <div class="section">
      <h2>10. ACCEPTACIÓ</h2>
      <p>
        El firmant declara haver llegit, entés i acceptat totes les condicions recollides en aquest document. <br><b>El
          desconeixement d’aquestes normes no eximeix del seu compliment.</b>
      </p>
    </div>

    <div class="footer">
      Alzira, a ________ de ________________________________ de ________________
    </div>

    <div class="signatures">
      <div class="signature-box">
        <div class="signature-line">Nom complet i signatura del col·laborador com a parella de faller</div>
      </div>
    </div>

  </div>
</body>

</html>
